body {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    color: magenta;
    background-color: #ffc;
    margin: 20px;
    padding: 0;
}

/* This is a comment, by the way */

p {
    line-height: 21px;
}
/* Border change very easy shortcut */
p {
    border: 1px red dotted;
}

h1 {
    color: #ffc;
    background-color: #900;
    font-size: 2em;
    margin: 0;
    margin-bottom: 2px;
    padding: 4px;
    font-style: italic;
    text-align: center;
    letter-spacing: 0.5em;
    border-bottom-style: solid;
    border-bottom-width: 0.5em;
    border-bottom-color: #00ff44;
}

h2 {
color:white;
background-color:#090;
font-size:1.5em;
margin:0;
padding:2px;
padding-left:14px;
border-style:dashed;
    border-width:3px;
    border-left-width:10px;
    border-right-width:10px;
    border-color:#360202;
}

h3 {
    color: #854900;
    font-size: 1.25em;
}

img {
    border-style: dashed;
    border-width: 2px;
    border-color: #ccc;
}

a {
    text-decoration: none;
}

strong {
    font-style: italic;
    text-transform: uppercase;
}

li {
    color: #900;
    font-style: italic;
}

table {
    background-color: #000;
}

body, p, li, h1, h2, h3{
	color: lime;
	background-color: black;
	border-color: lime;
}

/* Link changes color purple = already visited & blue is not visited yet */ 

a:link {
    color: blue;
}

a:visited {
    color: purple;
}

p {
    font: 14px/1.5 "Times New Roman", times, serif;
    padding: 30px 10px;
    border: 1px black solid;
    border-width: 5px 5px 5px 5px;
    border-color: lime;
    margin: 10px 5px;
}

